.myHead{
				height: 120px;
				width: 1200px;
				margin: auto;
			}
			body{
				margin: 0px;
				
			}
			#myTip{
				height: 60px;
				width: 100%;
				background-color: beige;
			}
			#box{
				width: 200px;
				height: 350px;
				background-color: 	#FFE4B5;
				position: absolute;
				left: 355px;
				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;
			}
			#bookShow{
				float: left;
				background-color: deepskyblue;
				width: 1000px;
				height: 350px;
				position: absolute;
				left: 200px;
				top:0px;
			}
			#rank{
				height: 410px;
				width: 1200px;
				background-color:  #F5FFFA;
				top:530px;
				position: absolute;
				left: 355px;
			}
			
			#findBook{
				border: 1px solid red;
				width: 175px;
				height: 20px;
				position: absolute;
				top: 50px;
				left: 800px;
			}
			#findButton{
				position: absolute;
				top: 50px;
				left: 1000px;
			}
			#myBook{
				position: absolute;
				text-decoration: none;
				top: 50px;
				right: 550px;
				background-color: red;
			}
			#myBook a{
				color: white;
			}
			#bookDis{
				position: absolute;
				left:420px;
				top: 140px;
			}
			
			div a{
				text-decoration: none;
				color: black;
			}
			
			
			
			
		</style>